JWT_SECRET=your_jwt_secret_here

CASHFREE_CLIENT_ID=your_cashfree_client_id
CASHFREE_CLIENT_SECRET=your_cashfree_client_secret
CASHFREE_ENV=SANDBOX

MONGODB_URI=your_mongodb_connection_string

PORT=4000
FRONTEND_URL=http://localhost:5173